<div>
<app-card [title]="'Family Charades'"
          [description]="'A fun family friendly word guessing game.'"
          [privacyPolicyLink]="'family-charades-privacy'"
          [logoLink]="'assets/app-logos/family_charades.png'"
          [googlePlayLink]="'https://play.google.com/store/apps/details?id=com.ddevelopments.familycharades'"
          [appleStoreLink]="'https://apps.apple.com/us/app/family-charades/id1546456298'"
          [amazonStoreLink]="'https://www.amazon.com/gp/product/B09XKW7N6M'">
</app-card>
<app-card [title]="'Dirty Charades'"
          [description]="'A fun word guessing party game.'"
          [privacyPolicyLink]="'dirty-charades-privacy'"
          [logoLink]="'assets/app-logos/dirty_charades.png'"
          [googlePlayLink]="'https://play.google.com/store/apps/details?id=com.ddevelopment.dirtycharades'"
          [appleStoreLink]="'https://apps.apple.com/us/app/dirty-charades/id1543629364'">
</app-card>
<app-card [title]="'Ski Trackr'"
          [description]="'A ski and snowboard tracking application.'"
          [privacyPolicyLink]="'ski-trackr-privacy'"
          [logoLink]="'assets/app-logos/ski_trackr.png'"
          [googlePlayLink]="'https://play.google.com/store/apps/details?id=com.ddevelopments.skitrackr'">
</app-card>
<app-card [title]="'5 Second Challenge: Dirty'"
          [description]="'Can you name 3 things related to the question in under 5 seconds?'"
          [privacyPolicyLink]="'five-second-challenge-privacy'"
          [logoLink]="'assets/app-logos/5_second_challenge.png'"
          [googlePlayLink]="'https://play.google.com/store/apps/details?id=com.ddevelopments.fivesecondchallengedirty'"
          [appleStoreLink]="'https://apps.apple.com/us/app/5-second-challenge-dirty/id1539355603'">
</app-card>
<app-card [title]="'Piano Sight Reading Trainer'"
          [description]="'Learn music notes, and how to read piano sheet music. A MIDI device is required.'"
          [privacyPolicyLink]="'piano-sight-reading-privacy'"
          [logoLink]="'assets/app-logos/piano_sight_reading.png'"
          [googlePlayLink]="'https://play.google.com/store/apps/details?id=com.ddevelopments.midipianosightreader'">
</app-card>
<app-card [title]="'Dirty Truth Or Dare'"
          [description]="'A truth or dare game.'"
          [privacyPolicyLink]="'dirty-truth-or-dare-privacy'"
          [logoLink]="'assets/app-logos/dirty_truth_or_dare.png'"
          [appleStoreLink]="'https://apps.apple.com/us/app/dirty-truth-or-dare/id1547151262'">
</app-card>
</div>
