<div class="app-card">
  <p-card >
    <p-header>
      <div class="card-header">
        <span class="header-text">Dirty Charades</span>
        <p-button [text]="true" label="Privacy Policy" routerLink="dirty-charades-privacy"></p-button>
      </div>
    </p-header>
    <div class="content-container">
      <div class="logo-and-text">
          <p-image src="assets/app-logos/dirty_charades.png" alt="Image" width="350"></p-image>
        <div class="description-text">
          <p-panel [showHeader]=false>
            <span>
              A fun word guessing party game.
            </span>
          </p-panel>
        </div>
      </div>
      <div class="store-badges">
          <p-image src="assets/platform-badges/google_badge.png" alt="Image" width="160"></p-image>
          <p-image src="assets/platform-badges/apple_badge.png" alt="Image" width="160"></p-image>
      </div>
    </div>

  </p-card>
</div>
